* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav {
  background-color: #474F52;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  align-items: stretch;
  padding: 0 1rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.site-title {
  font-size: 2rem;
}
.nav a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  text-decoration: none;
}
.App{
  background-color: #2f3537;
  height: 100vh;
}

.nav li:hover{
  background-color: #777;
}

.searchedContentContainer{
  margin-top: 20px;
  display: inline-grid;
  width: 100%;
  height: 100%;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.searchedContentItem{
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #333;
}
.searchedContentItem h6{
  font-family: Arial, Helvetica, sans-serif;
  color: #e7eaea;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 16px;
  width: 100%;
}

.searchedContentItem .favicon{
  color: #e7eaea66;
  position: absolute;
  top: 12px;
  right: 15px;
}

.searchedContentItem .favicon:hover{
  color: #e7eaea;
}

.searchedContentItem .scrollicon{
  position: absolute;
  color: #e7eaea66;
  top: calc(50% - 16px);
  right: calc(50% - 16px);
}

.searchedContentItem .tags{
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
}
.searchedContentItem .tags p{
  margin: 0 5px;
  background-color: #303536;
  color: #e7eaea;
  padding: 3px 5px;
  border-radius: 3px;
}
.searchedContentItem .hoverContent{
  height: 101%;
  width: 101%;
  opacity: 0;
  position: relative;
  top: -37px;
}

.searchedContentItem .hoverContent:hover{
  opacity: 100;
  background-color: #2f353733;

}

