* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #282D2E;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  align-items: stretch;
  padding: 0 1rem;
  height: 55px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li {
  padding: 5px 10px;

}

.site-title {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  text-decoration: none;
}

.App {
  background-color: #181A1B;
  color: white;
}

.nav li:hover {
  background-color: #777;
}

.searchedContentContainer {
  /* margin-top: 20px;
  gap: 15px;
  /* grid-template-columns: repeat(4, 1fr); */
  /* justify-items: center; */
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

/* https://codepen.io/chriscoyier/pen/PXGNom */
.searchedContentItem {
  /* width: 300px; */
  overflow: hidden;
  border-radius: 5px;
  margin: 0 1rem 1rem 0;
  flex: 1 0 auto;
  flex-grow: 25;
  display: flex
}

.searchedContentItem h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #e7eaea;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 16px;
  width: 100%;
}

.searchedContentItem .favicon {
  color: #e7eaea66;
  position: absolute;
  top: 12px;
  right: 15px;
}

.searchedContentItem .favicon:hover {
  color: #e7eaea;
}

.searchedContentItem .scrollicon {
  position: absolute;
  color: #e7eaea66;
  top: calc(50% - 16px);
  right: calc(50% - 16px);
}

.searchedContentItem .tags {
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
}

.searchedContentItem .tags p {
  margin: 0 5px;
  background-color: #303536;
  color: #e7eaea;
  padding: 3px 5px;
  border-radius: 3px;
  width: max-content;
}

.searchedContentItem .hoverContent {
  height: 101%;
  width: 101%;
  opacity: 0;
  position: relative;
}

.searchedContentItem .hoverContent:hover {
  opacity: 100;
  background-color: #2f353733;

}

.searchedContentItem a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.filterPanel {
  background-color: #1F2223;
}

.searchbox {
  width: 100%;
  padding: 10px;
  padding-left: 55px;
  border-radius: 5px;
  border: 0px solid #f5f5f5;
  font-size: 13px;
  color: gray;
  background-color: #ddd;
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  outline: 0;
}

.nav input[type="text"] {
  font-size: 16px;
  line-height: 16px;
}

.logo-text {
  font-size: 28px;
}

.gutter {
  background-color: #1F2223;
}

.gutter.gutter-horizontal {
  background-repeat: no-repeat;
  background-position: center 500px;
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
  background-repeat: no-repeat;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}